# Mac-only files
{{ if ne .chezmoi.os "darwin" }}
dot_Brewfile
{{ end }}

# Unix-only files (Mac + Linux)
{{ if eq .chezmoi.os "windows" }}
dot_zshrc
dot_config/zsh
dot_config/ghostty
dot_config/tmux
run_once_install-packages.sh
{{ end }}

# Windows-only files
{{ if ne .chezmoi.os "windows" }}
Documents
AppData
run_once_install-packages.ps1
{{ end }}
