[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = {{ .signingkey }}
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta

[delta]
	lineNumbers = true
	navigate = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only

[push]
	autoSetupRemote = true
	default = current

[alias]
	undo = reset --soft HEAD^

[gpg]
	format = ssh
[commit]
	gpgsign = true

[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
